@page
@model App.Pages.EquipmentsModel

@{
    ViewData["Title"] = "Equipamentos";
}

<h2>Equipamentos</h2>

<div class="col-md-8">
    <table class="table table-hover mt-4">
        <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Modelo</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var equipment in Model.Equipments)
        {
            <tr>
                <td>@equipment.Name</td>
                <td>@equipment.Model.Name</td>
                <td>
                    <a class="btn btn-secondary" asp-page="StateHistory" asp-route-id="@equipment.Id">
                        <i class="fa fa-history" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>