@page
@model WebApp.Pages.Shared.ForeignKeyConstraintViolationModel
@{
    ViewData["Title"] = "Erro de chaves";
}

<h1>Não é possível realizar a operação porque o recurso tem dependências à outras tabelas.</h1>
