Aiko_Digital_API/bin/
Aiko_Digital_API/obj/
Aiko_Digital_API/packages/
Aiko_Digital_API/riderModule.iml
Aiko_Digital_API/_ReSharper.Caches/
Aiko_Digital_API/appsettings.Development.json
Aiko_Digital_API/.idea/.idea.Aiko_Digital_API/.idea/.name

Aiko_Digital_API/API/bin/
Aiko_Digital_API/API/obj/

Aiko_Digital_Razor_Pages/.idea

Aiko_Digital_Razor_Pages/Aiko_Digital_Razor_Pages/.idea
Aiko_Digital_Razor_Pages/Aiko_Digital_Razor_Pages/bin/
Aiko_Digital_Razor_Pages/Aiko_Digital_Razor_Pages/obj/
Aiko_Digital_Razor_Pages/Aiko_Digital_Razor_Pages/packages
Aiko_Digital_Razor_Pages/Aiko_Digital_Razor_Pages/riderModule.iml
Aiko_Digital_Razor_Pages/Aiko_Digital_Razor_Pages/_ReSharper.Caches/