@page
@model IndexModel
@{
    ViewData["Title"] = "Configs";
}

<div class="text-center">
    <h1 class="display-4">Configurações</h1>
    <table>
        <thead>
        <th>Nome</th>
        <th>Modelo</th>
        <th>Posição atual</th>
        <th>Estado atual</th>
        </thead>
        <tbody>
            <td>
                
            </td>
        </tbody>
    </table>
</div>