@page
@using AikoFrontEnd.Models
@model EquipmentModel
@{
    ViewData["Title"] = "Equipamentos";
}

<div class="text-center">
    <h1 class="display-4">Equipamentos</h1>
    <form>
        
    </form>
    <table>
        <thead>
        <th>Nome</th>
        </thead>
        <tbody>
            @foreach (Equipment equip in Model.Equipments)
            {
                <tr><td>@equip.name</td></tr>
            }
        </tbody>
    </table>
</div>