@page
@model EquipmentStateHistoriesModel
@{
    ViewData["Title"] = "Equipment State History";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Kendo UI in ASP.NET core</h1>
</div>
