@{
    ViewData["Title"] = "Home Page";
}

<div className="infoSecao" style="text-align: -webkit-center;">
                
    <img src="~/img/aiko.png" />
    
    <table className="table" style="margin-top: 100px;">
        <tbody>
            <tr className="itemLista" style="display: flex; justify-content: space-between; padding-left: 25%; padding-right: 25%;">
                <td className="blocoLista" style="display: block; width: 460px; border: 0px !important;">
                    <p style="font-size: 100px; text-align: center; display: flex; justify-content: center;">
                        <i class="fas fa-tractor"></i>
                    </p>
                    <p style="display: flex; justify-content: center; text-align: center;">
                        This application allows the user to list, include, edit and delete some entities, such as Equipment, Equipment Model and Equipment State.
                    </p>
                </td>
                <td className="blocoLista" style="display: block; width: 460px; border: 0px !important;">
                    <p style="font-size: 100px; text-align: center; display: flex; justify-content: center;">
                        <i class="fas fa-map-marked-alt"></i>
                    </p>
                    <p style="display: flex; justify-content: center; text-align: center;">
                        You can check the last position per equipment through an interactive map.
                    </p>
                </td>
            </tr>
            <tr className="itemLista" style="display: flex; justify-content: space-between; padding-left: 25%; padding-right: 25%;">
                <td className="blocoLista" style="display: block; width: 460px; border: 0px !important;">
                    <p style="font-size: 100px; text-align: center; display: flex; justify-content: center;">
                         <i class="fas fa-history"></i>     
                    </p>
                    <p style="display: flex; justify-content: center; text-align: center;">                                
                        You can check the history containing the state of a specific equipment or check the latest state of each equipment.
                    </p>
                </td>
                <td className="blocoLista" style="display: block; width: 460px; border: 0px !important;">
                    <p style="font-size: 100px; text-align: center; display: flex; justify-content: center;">
                        <i class="fas fa-user"></i>
                    </p>
                    <p style="display: flex; justify-content: center; text-align: center;">
                        This application is part of Aiko's selection process and was developed by candidate Bruno Rocha Gomes.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>                
</div>

<style>
  body{ background-color: azure;}
</style>