@model teste_backend_v2.ViewModels.EquipmentHourlyEarningsViewModel.IncludeEquipmentHourlyEarningsViewModel

@{
    ViewData["Title"] = "Include Hourly Earnings";
}

<h1>Include</h1>

<h4>Hourly earnings for equipment models per state</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IncludeEquipmentHourlyEarnings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="EquipmentModelId" class="control-label col col-sm-3 required"></label>
                <div class="col col-sm-7">
                    <select asp-for="EquipmentModelId" asp-items="@Model.EquipmentModels" class="form-select">
                        <option value="">Select an item</option>
                    </select>
                    <span asp-validation-for="EquipmentModelId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="EquipmentStateId" class="control-label col col-sm-3 required"></label>
                <div class="col col-sm-7">
                    <select asp-for="EquipmentStateId" asp-items="@Model.EquipmentStates" class="form-select">
                        <option value="">Select an item</option>
                    </select>
                    <span asp-validation-for="EquipmentStateId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ValueMask" class="control-label"></label>                
                <input asp-for="ValueMask" class="form-control" id="valueFied" type="text" />
                <span asp-validation-for="ValueMask" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Include" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListEquipmentHourlyEarnings">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}