@model WebApplication.Models.ViewModel.LayoutViewModel<WebApplication.Models.ViewModel.HomeViewModel>

<div class="container-fluid">
    <div class="text-center">
        <img src="logo.png" alt=""/>
    </div>
</div>